body {
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(228, 228, 228);
    
  }
  header {
    background: rgb(88, 11, 95);
    width: auto;
    padding: auto;
    text-align: center;
    border-radius: 250px;
    box-shadow: 5px 7px 6px 2px rgba(0, 0, 0, 0.2);
  }
  
  .cabecalho {
   width: auto;
  }
  
  p{
    font-family: monospace;
    font-size: 1.3em;
  }
  
  img {
    margin: auto;
    position: relative;
    top: 15px;
    right: 120px;
    border-radius: 500px;
    width: 150px;
    box-shadow: 5px 7px 6px 2px rgba(0, 0, 0, 0.2);
  }
  
  h1{
    margin: auto;
    position: relative;
    left: 6em;
    bottom: 90px;
    font-weight: bold;
    font-size: 20px;
    color: antiquewhite;
  }
  
  h3{
    margin: auto;
    position: relative;
    left: 6em;
    bottom: 90px;
    font-weight: bold;
    font-size: 1em;
    color: antiquewhite;
  }
  
  .conteudo {
    text-align: center;
  
    line-height: 1em;
    width: auto;
  }
  h2 {
    font-weight: bold;
    margin: 50px 0 0  0 ;
    font-family: Arial, Helvetica, sans-serif;
  }
  li p {
    line-height: 2em;
  }
  
  .container-contato {
    margin: 0 0 0 10px ;
    text-align: center;
  }
  
  .port{
    margin: 0 0 10px 635px ;
    display: block;
    justify-content: center;
  }
  
  .port2{
    margin: 0 0 10px 625px ;
  }
  
  
  footer {
    background: rgb(88, 11,95);
    width: auto;
  }
  
  .copyright {
    text-align: center;
    margin-top: 30px;
    padding: 50px 0 100px 0;
  }